<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ judul }} | kelas terbuka</title>
</head>

<body>
    <h1>{{ judul }}</h1>
    <h2>kontributor: {{kontributor}}</h2>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/blog">blog</a></li>
        <ul>
            <li><a href="/blog/story">story</a></li>
            <li><a href="/blog/news">news</a></li>
        </ul>
    </ul>
</body>

</html>