<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{subjudul}} | Kelas Terbuka</title>
</head>

<body>
    <h1>{{subjudul}} di {{judul}}</h1>

    <ul>
        {# temmplate tags #}

        {% for link,name in nav%}
            <li>
                <a href="{{link}}">{{name}}</a>
            </li>
        {% endfor %}
        
    </ul>

    <p>
        Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Exercitationem assumenda 
        magnam dignissimos. Magnam consequatur 
        fugiat ex veniam non, iste earum omnis 
        deserunt commodi officiis accusamus quas 
        veritatis tenetur, totam nihil.
    </p>
</body>

</html>