{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{judul}}</title>
</head>

<body>
    <img style='width:100%' src="{% static 'blog/img/banner_blog.png' %}" alt="">
    <h1>{{subjudul}}</h1>

    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="/about">about</a></li>
    </ul>

</body>

</html>